header {
    width: 100%;
    height: 8.8rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .btn-mobile {
    display: none;
}

header nav {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

header nav ul {
    display: flex;
    gap: 4rem;

}

header nav ul li a {
    color: var(--gray-100);
    font-size: 1.6rem;
    letter-spacing: -0.48px;
    transition: opacity .3s ease;
}

header nav ul li a:hover {
    opacity: 0.7;
}

.s-hero {
    position: relative;
    width: 100%;
    padding-top: 11.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.s-hero::after {
    content: '';
    width: 100%;
    height: 22rem;
    background-color: var(--pink-10);
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.s-hero .text {
    position: relative;
    width: 100%;
    max-width: 71.9rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 6.4rem;
}

.s-hero .text h1 {
    position: relative;
    font-weight: 600;
    letter-spacing: -1.68px;
}

.s-hero .text h1::after {
    content: '';
    width: 100%;
    max-width: 59.9rem;
    height: 2.2rem;
    background: url(../imgs/line-title.svg) no-repeat center center;
    position: absolute;
    bottom: -5px;
    left: 39px;
    z-index: -1;
}

.s-hero .text p {
    max-width: 55.6rem;
    margin: 2.4rem auto 3.2rem;
    color: var(--gray-300);
    letter-spacing: -0.54px;
}

.s-hero .text .arrow {
    position: absolute;
    bottom: 1.7rem;
    left: 5.5rem;
}

.s-hero .ilustra {
    padding: 0 1.5rem;
}

.s-hero .ilustra-mobile {
    display: none;
}

.s-digital {
    padding-top: 12.8rem;
}

.s-digital h3 {
    text-align: center;
    max-width: 53.5rem;
    margin: 0 auto 6.4rem;
}

.s-digital ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12.8rem;
    border-bottom: 1px solid var(--gray-800);
}

.s-art-front {
    padding: 12.8rem 0;
}

.s-art-front .title-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.4rem;
}

.s-art-front .title-text .left {
    max-width: 54.5rem;
}

.s-art-front .title-text .left p {
    max-width: 45.2rem;
    margin-top: 1.6rem;
}

.s-art-front .title-text .right {
    max-width: 42.9rem;
}

.s-art-front .title-text h3 {
    font-weight: 600;
    letter-spacing: -1.2px;
}

.s-art-front .title-text p {
    color: var(--gray-600);
    line-height: 150%;
    letter-spacing: -0.54px;
}

.s-art-front .all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
}

.s-art-front .all .card-post:first-child {
    grid-column: span 2;
    /* Faz com que o primeiro card ocupe duas colunas a partir de onde está */
}

.s-newsletter {
    padding: 8.9rem 0;
    text-align: center;
    background-color: var(--pink-10);
}

.s-newsletter h2 {
    max-width: 64.6rem;
    font-weight: 600;
    letter-spacing: -1.44px;
    margin: 0 auto 1.6rem;
}

.s-newsletter p {
    max-width: 68.7rem;
    font-size: 2.2rem;
    font-style: normal;
    line-height: 150%;
    letter-spacing: -0.66px;
    margin: 0 auto 2.4rem;
}

footer {
    padding: 4.8rem 0;
}

footer .main-area {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 6.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    margin-bottom: 2.4rem;
}

footer .main-area .left {
    max-width: 27.9rem;
}

footer .main-area .left p {
    color: var(--gray-600);
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: -0.48px;
    margin-top: 2.4rem;
}

footer .main-area .right {
    max-width: 79.2rem;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

footer .main-area .right .item-nav h6 {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -0.48px;
    margin-bottom: 3.2rem;
}

footer .main-area .right .item-nav ul li:not(:last-child) {
    margin-bottom: 3.2rem;
}

footer .main-area .right .item-nav ul li a {
    color: var(--gray-600);
    font-size: 1.6rem;
    letter-spacing: -0.48px;
    display: flex;
    gap: 1.8rem;
    align-items: center;
    transition: color .3s ease;
}

footer .main-area .right .item-nav ul li a:hover {
    color: var(--gray-100);
}

footer .copy {
    color: var(--gray-600);
    font-size: 1.6rem;
    letter-spacing: -0.48px;
}

footer .copy strong {
    font-weight: 600;
}

/* Até monitores pequenos */
@media(max-width: 1200px) {
    .s-digital {
        padding-top: 7rem;
    }

    .s-digital ul {
        gap: 3rem;
        padding-bottom: 7rem;
    }

    .s-digital .info h6 {
        font-size: 2rem;
    }

    .s-digital .info p {
        font-size: 1.6rem;
    }

    .item-digital .info p br {
        display: none;
    }

    .s-art-front {
        padding: 6rem 0;
    }

    .s-art-front .all {
        gap: 1.6rem;
    }

    .s-art-front .all .card-post:first-child,
    .s-art-front .all .card-post:nth-child(2) {
        grid-column: span 3;
    }

    footer .main-area .right {
        max-width: 66.2rem;
    }
}

/* Até tablets */
@media(max-width: 991px) {
    .s-hero::after {
        height: 13rem;
    }

    .s-digital ul {
        flex-direction: column;
        align-items: center;
    }

    .s-art-front {
        padding-top: 4rem;
    }

    .s-art-front .title-text {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }


    .s-art-front .title-text .left p {
        margin: 1.6rem auto;
    }

    footer .main-area {
        flex-direction: column;
        gap: 5rem;
    }

    footer .main-area .left {
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    footer .main-area .left img {
        margin: 0 auto;
    }

    footer .main-area .right {
        width: 100%;
        margin: 0 auto;
    }
}

@media(max-width: 768px) {
    header nav {
        display: none;
    }

    header .btn-mobile {
        display: block;
    }

    .s-hero {
        padding-top: 6rem;
    }

    .s-hero .text h1 {
        max-width: 49rem;
        margin: 0 auto;
    }

    .s-hero .text h1::after {
        background-size: 100%;
        left: 0;
        bottom: -4px;
    }

    .s-hero .text p {
        max-width: 41.6rem;
    }

    .s-hero .text .arrow {
        left: 3rem;
        max-width: 8rem;
        bottom: 3rem;
    }

    .s-art-front {
        grid-template-rows: 2fr 1fr;
    }

    .s-art-front .all .card-post:first-child,
    .s-art-front .all .card-post:nth-child(2) {
        grid-column: initial;
    }

    .s-art-front .all {
        grid-template-columns: 1fr;
    }

}

/* Até celulares */
@media(max-width: 560px) {
    header {
        height: 7.2rem;
    }

    header .logo {
        max-width: 16rem;
    }

    .s-hero {
        padding-top: 8.8rem;
    }

    .s-hero .text h1 {
        font-size: 4rem;
        letter-spacing: -1.2px;
        max-width: 33.9rem;
    }

    .s-hero .text h1::after {
        bottom: -6px;
    }

    .s-hero .text p {
        font-size: 1.6rem;
        line-height: 150%;
        letter-spacing: -0.48px;
        max-width: 32.5rem;
        margin-top: 0.8rem;
        margin-bottom: 2.4rem;
    }

    .s-hero .text .arrow {
        display: none;
    }

    .s-hero .ilustra {
        display: none;
    }

    .s-hero .ilustra-mobile {
        display: block;
    }

    .s-hero::after {
        height: 22rem;
    }

    .s-digital {
        padding-top: 8rem;
    }

    .s-digital ul {
        padding-bottom: 8rem;
        gap: 6.4rem;
    }

    .s-digital h3 {
        font-size: 2.8rem;
        font-weight: 600;
        letter-spacing: -0.84px;
        max-width: 33.6rem;
    }

    .s-art-front {
        padding: 8rem 0;
    }

    .s-art-front .title-text {
        margin-bottom: 5.6rem;
    }

    .s-art-front .title-text .left h3 {
        font-size: 2.8rem;
        letter-spacing: -0.84px;
        max-width: 22.7rem;
        margin: 0 auto;
    }

    .s-art-front .title-text .left p {
        max-width: 28rem;
        font-size: 1.6rem;
        line-height: 150%;
        letter-spacing: -0.48px;
    }

    .s-art-front .title-text .right {
        display: none;
    }

    .s-art-front .all {
        gap: 3.2rem;
    }

    .s-newsletter h2 {
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: -1.2px;
    }

    .s-newsletter p {
        font-size: 1.8rem;
        line-height: 150%;
        letter-spacing: -0.54px;
    }

    footer .main-area {
        padding-bottom: 4.8rem;
    }

    footer .main-area .right {
        flex-direction: column;
        align-items: center;
        gap: 4.8rem;
    }

    footer .main-area .right .item-nav h6 {
        text-align: center;
    }

    footer .main-area .right .item-nav a {
        justify-content: center;
    }

    footer .main-area .right .item-nav:last-child {
        width: 100%;
    }

    footer .main-area .right .item-nav:last-child ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    footer .main-area .right .item-nav:last-child ul li {
        margin-bottom: 0;
    }

    footer .copy {
        font-size: 1.4rem;
        text-align: center;
    }
}