/* Reset e configuração padrão */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; /* Texto corrido */
}

img {
    max-width: 100%;
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

html {
    font-size: 62.5%; /* 10px */
    background-color: var(--gray-900);
    color: var(--gray-100);
}